/** Configure service template css **/

/** For select all mappings checkbox **/
.external-services_page_external-services-configure #configure-service-section .select-all {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

/** Format first index of data returned **/
.external-services_page_external-services-configure #configure-service-section p.sample-data {
    display: inline;
    font-style: italic;
    font-weight: bold;
}

/** Shift all input fields inside main box more to the left */
.external-services_page_external-services-configure .postbox {
    padding: 0 25px;
    margin-top: 10px;
}

.external-services_page_external-services-configure .postbox .field-map-row {
    display: block;
}

.external-services_page_external-services-configure .postbox tr.product-category,
.external-services_page_external-services-configure .postbox tr.product-tags
{
    display: none;
}

/** Validation messages **/
.external-services_page_external-services-configure #configure-service-section label.error {
    margin-bottom: 5px;
    color: red;
    font-style: italic;
    padding-left: 10px;
}