/** Shift all input fields inside main box more to the left */
.external-services_page_external-services-add .postbox {
    padding: 0 25px 0 25px;
}

/** Rules for failed input validation */
.external-services_page_external-services-add #add-service p label.error {
    margin-bottom: 5px;
    color: red;
    font-style: italic;
    padding-left: 10px;
}

/** Increment authentication fields and csv parse settings more to the left **/
.external-services_page_external-services-add #add-service #authAddForm,
.external-services_page_external-services-add #add-service #csvParseForm {
    padding-left: 25px;
}

/** Set each authentication fields to get shown by jQuery **/
.external-services_page_external-services-add #add-service #authentication-details #basic-auth,
.external-services_page_external-services-add #add-service #authentication-details #token-auth {
    display: none;
}

/**  */
.external-services_page_external-services-add #add-service #csvParseForm span.input-notice {
    display: flex;
    padding-top: 10px;
    font-style: italic;
}