@import "external-services-loader.css";
@import "external-services-configure-service.css";

.external-suppliers_page_external-services-add .postbox {
    padding-left: 25px;
}

.external-suppliers_page_external-services-add #add-service p label.error{
    margin-bottom: 5px;
    color: red;
    font-style: italic;
    padding-left: 10px;
}

/** Increment authentication fields and csv parse settings more to the left **/
.external-suppliers_page_external-services-add #add-service #authentication-details,
.external-suppliers_page_external-services-add #add-service #csvParseForm {
    padding-left: 25px;
}

/** Set each authentication fields to get shown by jQuery **/
.external-suppliers_page_external-services-add #add-service #authentication-details #basic-auth,
.external-suppliers_page_external-services-add #add-service #authentication-details #token-auth {
    display: none;
}
