@import "external-services-loader.css";

.external-suppliers_page_external-services-add .postbox {
    padding-left: 25px;
}

.external-suppliers_page_external-services-add #add-service p label.error{
    margin-bottom: 5px;
    color: red;
    font-style: italic;
    padding-left: 10px;
}

.external-suppliers_page_external-services-add #configure-service .select-all {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

