@import "external-services-loader.css";

#add-service p {
    padding-left: 25px;
}

#add-service p label.error{
    margin-bottom: 5px;
    color: red;
    font-style: italic;
    padding-left: 10px;
}
